<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402033896901-nhg48jtoiqddsec78it63qjb5g7th9fe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402033896901-nhg48jtoiqddsec78it63qjb5g7th9fe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>402033896901-0ui02rri6un08a9ab0dljm1ivt0j4bq5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCT_RgwX7uT0zWzbbURgam9SMIlzzEAICM</string>
	<key>GCM_SENDER_ID</key>
	<string>402033896901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.endpoint.ForSale</string>
	<key>PROJECT_ID</key>
	<string>for-sale-c5d26</string>
	<key>STORAGE_BUCKET</key>
	<string>for-sale-c5d26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402033896901:ios:79208634b2f2366b686fac</string>
</dict>
</plist>